<%= form_tag('/playlist', :method => 'get') do %>
	Link:<%= text_field_tag 'link', "http://www.reddit.com/r/dubstep", :size => "50" %>
	Page to end on (33 max):<%= text_field_tag 'pageend', "1" %>
	<%= submit_tag 'Play' %>
<% end %>
<br>
After clicking play, give the server a few seconds to organize all the youtube links. If you get errors, set the number of pages lower.<br>
The link can be a link to searching reddit (when you search for a specific artist, for example) but the pages need to be set to 1.<br><br>
<p>UPDATE: I have moved the app from Hpricot to Nokogiri since Hpricot was segfaulting. Nokogiri doesn't seem to do that. Awesome. But it seems that if more than one person is using the site the arrays keeping track of of the songs for you get mixed in with arrays for other people. I'm new to ruby, and I don't know if there's a way to stop this. It's next on my list, but if any more knowledgeable RoR developers know how to stop this and give each new user their own 'environmnet' per se shoot me an email at <a href="http://scr.im/3x2">http://scr.im/3x2</a>. Other suggestions can go there too.</p>
<br><br>
List of things to do yet:
1. Fix bugs
2. Integrate SoundCloud
