<h1>Music on <%= $originallink %></h1>
<h3><%= raw "The first #{$numofyoutubes} are from YouTube and the last #{$numofsoundclouds} are from SoundCloud."%>
<iframe type="text/html" width=100% height=200 src="/youtubeframe" scrolling=NO frameborder=0>iFrames not allowed by your browser.</iframe>