<h1>Music on <%= $originallink %></h1>
<h3><%= raw "The first #{$numofyoutubes} are from YouTube and the last #{$numofsoundclouds} are from SoundCloud."%>
<iframe type="text/html" width=100% height=200 src="/youtubeframe" scrolling=NO frameborder=0>iFrames not allowed by your browser.</iframe>
&nbsp;&nbsp;<br>
Find this tool useful? <a href="https://www.mybitcoin.com/sci/paypage.php?t=_Ibc4oOlPiwdYwntY3vQKqqNC0HhFUMHpDBwHASpeDVXfs92RRBNcrUo2ctaJS_NdKVW_Fqp_ZZS_Lg2nKNDz10F8Omvl2H_zvUNN-XaQggJLPEwkd7MV9-Zfwg1hdEMLWeSFmESWrHG53fBIV8oKJgRyQky289sEyWPzcMt2L9myU8GE64dXsrViYXodpx2XCdSGkRY00HA" target="_blank"> Let me know by sending 0.01 bitcoins to me!</a>&nbsp;
Or send 0.01 BC to me (or any amount) directly: <b>19nr1jo4PyPVxUhgUyFFR9k7usz1LPcdSX</b>
