<h1>Youtube videos on <%= $originallink %></h1>
<iframe type="text/html" width=100% height=100 src="/youtubeframe" scrolling=NO frameborder=0>iFrames not allowed by your browser.</iframe>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0687463400011307";
/* Radio */
google_ad_slot = "3166119854";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
